:root{
  --yc-brand-base-50: #F1F8F6;
  --yc-brand-base-100: #E9F4F1;
  --yc-brand-base-200: #CDE8E0;
  --yc-brand-base-300: #B0DBD0;
  --yc-brand-base-400: #93D0BF;
  --yc-brand-base-500: #6EC2AB;
  --yc-brand-base-600: #56B69C;
  --yc-brand-base-700: #47A189;
  --yc-brand-base-800: #3F8B76;
  --yc-brand-base-900: #367564;
  --yc-brand-base-950: #2D6052;
  --yc-brand-glow-50: #EFFBF9;
  --yc-brand-glow-100: #eef7f5;
  --yc-brand-glow-200: #EFFBF9;
  --yc-brand-glow-300: #e0f3f0;
  --yc-brand-glow-400: #D1F5EF;
  --yc-brand-glow-500: #A6EDE2;
  --yc-brand-glow-600: #8AE6D7;
  --yc-brand-glow-700: #6EDECD;
  --yc-brand-glow-800: #56D7C3;
  --yc-brand-glow-900: #3FCFB9;
  --yc-brand-glow-950: #32BEA8;
  --yc-brand-metal-50: #F1EFEE;
  --yc-brand-metal-100: #DEDCD7;
  --yc-brand-metal-200: #CCC8C1;
  --yc-brand-metal-300: #B9B4AB;
  --yc-brand-metal-400: #A7A094;
  --yc-brand-metal-500: #908778;
  --yc-brand-metal-600: #7D7567;
  --yc-brand-metal-700: #696357;
  --yc-brand-metal-800: #58534A;
  --yc-brand-metal-900: #47433C;
  --yc-brand-metal-950: #37332E;
  --yc-neutral-gray-0: #FFFFFF;
  --yc-neutral-gray-50: #FAFAFA;
  --yc-neutral-gray-100: #F5F5F5;
  --yc-neutral-gray-200: #EEEEEE;
  --yc-neutral-gray-300: #E0E0E0;
  --yc-neutral-gray-400: #BDBDBD;
  --yc-neutral-gray-500: #9E9E9E;
  --yc-neutral-gray-600: #757575;
  --yc-neutral-gray-700: #616161;
  --yc-neutral-gray-800: #424242;
  --yc-neutral-gray-900: #212121;
  --yc-neutral-gray-950: #121212;
  --yc-neutral-tinted-0: #E9FAF8;
  --yc-neutral-tinted-50: #E5F7F4;
  --yc-neutral-tinted-100: #E1F3F0;
  --yc-neutral-tinted-200: #DCEEEB;
  --yc-neutral-tinted-300: #D6E2E0;
  --yc-neutral-tinted-400: #B9C6C4;
  --yc-neutral-tinted-500: #9FA6A5;
  --yc-neutral-tinted-600: #7A8180;
  --yc-neutral-tinted-700: #656969;
  --yc-neutral-tinted-800: #484C4C;
  --yc-neutral-tinted-900: #292D2D;
  --yc-neutral-tinted-950: #1B1F1E;
  --yc-semantic-success-50: #B4E0D6;
  --yc-semantic-success-100: #96D5C7;
  --yc-semantic-success-200: #77CBB9;
  --yc-semantic-success-300: #58C2AB;
  --yc-semantic-success-400: #3EB399;
  --yc-semantic-success-500: #2F8F7A;
  --yc-semantic-success-600: #277363;
  --yc-semantic-success-700: #1F584B;
  --yc-semantic-success-800: #174138;
  --yc-semantic-success-900: #102A24;
  --yc-semantic-success-950: #081613;
  --yc-semantic-success-subtle: #B4E0D6;
  --yc-semantic-success-bg: #96D5C7;
  --yc-semantic-success-border: #58C2AB;
  --yc-semantic-success-base: #2F8F7A;
  --yc-semantic-success-hover: #277363;
  --yc-semantic-success-pressed: #1F584B;
  --yc-semantic-success-focus: #3EB399;
  --yc-semantic-success-strong: #1F584B;
  --yc-semantic-success-fg_on_bg: #000000;
  --yc-semantic-success-fg_on_strong: #FFFFFF;
  --yc-semantic-warning-50: #FDF7EC;
  --yc-semantic-warning-100: #FEF7EC;
  --yc-semantic-warning-200: #FCEBD1;
  --yc-semantic-warning-300: #FCDBA9;
  --yc-semantic-warning-400: #FCCB80;
  --yc-semantic-warning-500: #FBB74E;
  --yc-semantic-warning-600: #FBA92B;
  --yc-semantic-warning-700: #F89B09;
  --yc-semantic-warning-800: #DA8809;
  --yc-semantic-warning-900: #BB750A;
  --yc-semantic-warning-950: #9C630A;
  --yc-semantic-warning-subtle: #FDF7EC;
  --yc-semantic-warning-bg: #FEF7EC;
  --yc-semantic-warning-border: #FCDBA9;
  --yc-semantic-warning-base: #FBB74E;
  --yc-semantic-warning-hover: #FBA92B;
  --yc-semantic-warning-pressed: #F89B09;
  --yc-semantic-warning-focus: #FCCB80;
  --yc-semantic-warning-strong: #F89B09;
  --yc-semantic-warning-fg_on_bg: #000000;
  --yc-semantic-warning-fg_on_strong: #000000;
  --yc-semantic-error-50: #FBEFEF;
  --yc-semantic-error-100: #FBEFEF;
  --yc-semantic-error-200: #F4CFCF;
  --yc-semantic-error-300: #EEACAE;
  --yc-semantic-error-400: #E8898B;
  --yc-semantic-error-500: #E35B5E;
  --yc-semantic-error-600: #DC3F42;
  --yc-semantic-error-700: #CE292C;
  --yc-semantic-error-800: #B32528;
  --yc-semantic-error-900: #982124;
  --yc-semantic-error-950: #7E1D1F;
  --yc-semantic-error-subtle: #FBEFEF;
  --yc-semantic-error-bg: #FBEFEF;
  --yc-semantic-error-border: #EEACAE;
  --yc-semantic-error-base: #E35B5E;
  --yc-semantic-error-hover: #DC3F42;
  --yc-semantic-error-pressed: #CE292C;
  --yc-semantic-error-focus: #E8898B;
  --yc-semantic-error-strong: #CE292C;
  --yc-semantic-error-fg_on_bg: #000000;
  --yc-semantic-error-fg_on_strong: #FFFFFF;
  --yc-semantic-info-50: #EEF3FC;
  --yc-semantic-info-100: #EEF2FC;
  --yc-semantic-info-200: #D6E2F9;
  --yc-semantic-info-300: #B1C8F4;
  --yc-semantic-info-400: #8CAEF1;
  --yc-semantic-info-500: #5B8DEF;
  --yc-semantic-info-600: #3D77E9;
  --yc-semantic-info-700: #1F62E3;
  --yc-semantic-info-800: #1B56C9;
  --yc-semantic-info-900: #194BAC;
  --yc-semantic-info-950: #174090;
  --yc-semantic-info-subtle: #EEF3FC;
  --yc-semantic-info-bg: #EEF2FC;
  --yc-semantic-info-border: #B1C8F4;
  --yc-semantic-info-base: #5B8DEF;
  --yc-semantic-info-hover: #3D77E9;
  --yc-semantic-info-pressed: #1F62E3;
  --yc-semantic-info-focus: #8CAEF1;
  --yc-semantic-info-strong: #1F62E3;
  --yc-semantic-info-fg_on_bg: #000000;
  --yc-semantic-info-fg_on_strong: #FFFFFF;
  --yc-semantic-attention-50: #EFFAFB;
  --yc-semantic-attention-100: #E4F7F8;
  --yc-semantic-attention-200: #C3EEF1;
  --yc-semantic-attention-300: #A0E5EB;
  --yc-semantic-attention-400: #7DDEE5;
  --yc-semantic-attention-500: #4FD6E0;
  --yc-semantic-attention-600: #33CDD8;
  --yc-semantic-attention-700: #27B6C1;
  --yc-semantic-attention-800: #239DA6;
  --yc-semantic-attention-900: #1F848B;
  --yc-semantic-attention-950: #1B6B71;
  --yc-semantic-attention-subtle: #EFFAFB;
  --yc-semantic-attention-bg: #E4F7F8;
  --yc-semantic-attention-border: #A0E5EB;
  --yc-semantic-attention-base: #4FD6E0;
  --yc-semantic-attention-hover: #33CDD8;
  --yc-semantic-attention-pressed: #27B6C1;
  --yc-semantic-attention-focus: #7DDEE5;
  --yc-semantic-attention-strong: #27B6C1;
  --yc-semantic-attention-fg_on_bg: #000000;
  --yc-semantic-attention-fg_on_strong: #000000;
}